{% include "partials/head.njk" %}
<body>
<main>
<h1>{{ title }}</h1>
{% if description %}<h2>{{ description }}</h2>{% endif %}

{{ content | safe }}

</main>

<script src="/js/main.js"></script>
</body>

