  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ config.site_name or title }}</title>
    <meta name="Description" content="{{ config.description or description }}">
    <meta name="Keywords" content="{{ config.keywords or tags }}">

    {% switch config.prism_theme %}
      {% case "custom" %}
        <link href="_assets/css/prism/{{ config.prism_file }}.css" rel="stylesheet">
      {% case "" %}

      {% default %}
        <link href="https://unpkg.com/prismjs@1.20.0/themes/{{ config.prism_theme }}.css" rel="stylesheet">
    {% endswitch %}        
    <link rel="stylesheet" type="text/css" href="/_assets/css/styles.css" />
  </head>